{% extends 'base.html' %}
{% block content %}
<div class=" container text-center pt-5">
    <h1> Login!</h1>
    <br><br>
    {% if error %}
    <p class='error'>{{error}}</p>
    {% endif %}
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        UserName:
        <br>
        <input type="text" name="username">
        <br><br>
        Password:
        <br>
        <input type="password" name="password">
        <br>
        <br>
        <input type="submit" value="Login" class="btn btn-primary">
    </form>
</div>

{% endblock %}